body {
    margin: 0;
    overflow: hidden;
    background: url('Background.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#fixedImage {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100vh;
    max-width: 50%;
}

#centerText {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Handlee', cursive;
}

.staticButton {
        padding: 10px;
        margin-top: 20px;
        margin-left: -160px;
        cursor: pointer;
        position: absolute;
        background: rgba(204, 43, 94, 0.5);
        border-radius: 60px;
        font-family: Georgia;
        color: #ffffff;
        padding: 10px 35px 10px 36px;

}

.randomButton {
    padding: 10px;
    margin-top: 19px;
    margin-left: 55px;
    cursor: pointer;
    position: absolute;
    transition: top 0.5s ease, left 0.5s ease;
    background: rgba(204, 43, 94, 0.5);
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    padding: 10px 35px 10px 36px;
}